# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file
local.properties

# Android Studio
.idea/
.gradle
*.iml
*.swp
.DS_Store

# Build outputs
bin/
out/

# Kotlin/Java
*.class
*.jar
*.war

# Log Files
*.log
